.chat-container {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
}

.chat-message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat-user-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.chat-profile-pic {
    border-radius: 50%;
    margin-right: 10px;
}

.chat-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chat-timestamp {
    display: block;
    font-size: 0.8em;
    color: #aaa;
    text-align: right;
}


/* NotificationIcon.css */
.notification-icon-container {
    position: relative;
    display: inline-block;
}

.notification-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
    transform: translate(50%, -50%);
}
